@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-edit {
    background-color: #F8E8EE; /* เปลี่ยนสีพื้นหลัง */
    color: #5F6F65; /* เปลี่ยนสีข้อความ */
  }
  
  .btn-delete {
    background-color: #FDCEDF; /* เปลี่ยนสีพื้นหลัง */
    color: #5F6F65; /* เปลี่ยนสีข้อความ */
  }

  .dashboard {
    color: #FFFFFF; /* สีข้อความ */
  }
  
  .card {
    background-color: #535C91; /* สีพื้นหลังของการ์ด */
    border-color: #535C91; /* สีของกรอบการ์ด */
  }
  
  .card-title {
    color: #9290C3; /* สีของหัวเรื่องในการ์ด */
  }
  
