@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-edit {
    background-color: #0f1c53; /* เปลี่ยนสีพื้นหลัง */
    color: #E1D7B7; /* เปลี่ยนสีข้อความ */
    transition: background-color 0.3s, color 0.3s; 
  }

  .btn-edit:hover {
    background-color: #F6EACB; /* สีพื้นหลังเมื่อเมาส์อยู่เหนือ */
    color: #1E2A5E; /* สีข้อความเมื่อเมาส์อยู่เหนือ */
}
  
  .btn-delete {
    background-color: #F6EACB; /* เปลี่ยนสีพื้นหลัง */
    color: #0f1c53; /* เปลี่ยนสีข้อความ */
    transition: background-color 0.3s, color 0.3s; 
  }

  .btn-delete:hover {
    background-color: #0f1c53; /* สีพื้นหลังเมื่อเมาส์อยู่เหนือ */
    color: #F6EACB; /* สีข้อความเมื่อเมาส์อยู่เหนือ */
}

  .dashboard {
    color: #FFFFFF; /* สีข้อความ */
  }
  
  .card {
    background-color: #D1E9F6; /* สีพื้นหลังของการ์ด */
    border-color: #b6d5e5; /* สีของกรอบการ์ด */
  }
  
  .card-title {
    color: #0f1c53; /* สีของหัวเรื่องในการ์ด */
  }

  .btn-success {
    background-color: #0f1c53; /* เปลี่ยนสีพื้นหลัง */
    color: #E1D7B7; /* เปลี่ยนสีข้อความ */
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .btn-success:hover {
    background-color: #F6EACB; /* สีพื้นหลังเมื่อเมาส์อยู่เหนือ */
    color: #1E2A5E; /* สีข้อความเมื่อเมาส์อยู่เหนือ */
}
